/output
/predefined/esmira_components/dataset/dicts
/predefined/esmira_components/dataset/logs
/predefined/ramris_components/generators/background
/predefined/ramris_components/generators/scanner/logs
/predefined/ramris_components/models/figs
/predefined/ramris_components/models/weights